
.container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 450px;
  background-color: #80157be3;
  pointer-events: auto;
  border-radius: 8px;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 100%;
}
