
.container {
  display: flex;
  flex-direction: column;
  width: 200px;
  pointer-events: auto;
  border-radius: 8px;
  overflow: hidden;
}

.header {
  background: #193550;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.content {
  background: #2e5e8b;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
}

.toggleAutoPlay {
  margin-top: 8px;
  border: none;
  background-color: #193550;
  color: #eeeeee;
}

.paragraph {
  height: 15px;
}
